/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/
/storage/framework/sessions/
/storage/framework/views/*.php
/public/logo/
/storage/debugbar/
/storage/app/public/
/public/upload/
/vendor
.env
/public/page_banner
/public/profile_image
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.git_my
/html
mix-manifest.json
/public/mix-manifest.json
.qodo
